PORT=4000
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret
BREVO_API_KEY=xkeysib-bbaae7fa
BREVO_SENDER_EMAIL=xyz@gmail.com
BREVO_SENDER_NAME=Good Life Clinic
CONTACT_RECEIVER_EMAIL=yzx@gmail.com
